@{
    ViewBag.Title = "Acerca de Nosotros";
}
<div class="contenedorTitulo">
    <div class="imalogoAurum">
        <!--About finalizado-->
        <img src="~/Resources/Aurum-MK.png" alt="Imalogo Aurum MK S.A." />
        <hr class="hrAbout" />
        <br />
        <h1>Nuestra Historia</h1>
        <p>
            Aurum MK es un emprendimiento que nació producto de la pandemia Covid-19, a finales del año 2019.
            Todos los productos que ofrece Aurum MK son 100% artesanales confeccionados en Costa Rica.
            Los materiales que se utilizan para confeccionar las pulseras son a prueba de agua, se pueden utilizar en piscinas, playas y regaderas.
        </p>
        <p>
            Actualmente se cuentan con más de 100 diseños disponibles en 40 colores distintos. Aurum MK agradece cada compra realizada, con esto estarás apoyando
            a los artesanos costarricenses.
        </p>
        <br />
        <h3>Dirección: </h3>
        <p>Actualmente Aurum MK no cuenta con una dirección física, pero nuestras bodegas se localizan en Barrio La Cruz, Catedral, San José, Costa Rica.</p>
        <br />
        <h3>Contacto: </h3>
        <p>Correo electrónico: aurummk@info.com</p>
        <p>Teléfono: (506) 2222 2222</p>
        <p>Instagram: pulseras_aurummk</p>
        <br />
        <hr class="hrAbout" />
        <img src="~/Resources/ALMEJA-Software-Logo.png" alt="Imalogo ALMEJA Software S.A." />
        <p>
            ALMEJA Software S.A. es una empresa de desarrollo de software que se dedica a brindar soluciones digitales a emprendedores, pequeñas y medianas empresas.
            Brindando un servicio de alta calidad y eficiencia. Nos destacamos porque brindamos un software que se basa en sus necesidades y nos adaptamos a su presupuesto.
        </p>
        <br />

    </div>
</div>

<div style="width:80%; margin:auto; text-align: center;">
    <h3>Integrantes</h3>
    <br />
    <div class="card border-primary mb-3" style="max-width: 20rem; display:inline-block; margin: 0px 15px;">
        <div class="card-header">Ingeniero de Software</div>
        <div class="card-body">
            <h4 class="card-title">Alfredo Méndez G.</h4>
            <img class="fotoIntegrantes" src="~/Resources/Alfredo.jpeg" alt="AlfredoMG" />
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 20rem; display:inline-block; margin: 0px 15px;">
        <div class="card-header">Ingeniera de Software</div>
        <div class="card-body">
            <h4 class="card-title">Melanie Herrera A.</h4>
            <img class="fotoIntegrantes" src="~/Resources/Mel.jpg" alt="AlfredoMG" />
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 20rem; display:inline-block; margin: 0px 15px;">
        <div class="card-header">Ingeniero de Software</div>
        <div class="card-body">
            <h4 class="card-title">Juan Amores V.</h4>
            <img class="fotoIntegrantes" src="~/Resources/JuanJose1.jpg" alt="AlfredoMG" />
        </div>
    </div>
</div>


