@{
    ViewBag.Title = "Reportes";
}

<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="color: var(--blue);background: #1d2554;">
            <div class="container-fluid d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <hr>
                        <a class="nav-link" href="@Url.Action("Index", "Maintenance")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-tools" style="font-size: 25.6px;">
                                <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"></path>
                                <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"></path>
                            </svg><span style="font-size: 19.6px;"> Estado del sistema</span>
                        </a>
                        <hr>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <div class="sidebar-heading"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html" style="font-size: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-people-fill" style="font-size: 20px;">
                                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path>
                            </svg><span> Reporte de Inventario</span>
                        </a>
                        <a class="nav-link active" href="charts.html" style="font-size: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-box-seam" style="font-size: 20px;">
                                <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"></path>
                            </svg><span>&nbsp; Reporte de Movimientos</span>
                        </a><a class="nav-link" href="charts.html" style="font-size: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-droplet-fill" style="font-size: 20px;">
                                <path fill-rule="evenodd" d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z"></path>
                            </svg><span>&nbsp; Reporte de Ventas</span>
                        </a><a class="nav-link" href="charts.html" style="font-size: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-list-ul" style="font-size: 20px;">
                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                            </svg><span>&nbsp; Reporte de Usuarios</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Estado Actual</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos Registrados<br></h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Total en tienda</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo" style="font-size: 14px;">
                            <h4 class="card-title">Productos Ingresados&nbsp; &nbsp;</h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Abastecimiento</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos&nbsp; Descontados</h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Descontados</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos por reponer</h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Para Reposicion</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>