@{
    ViewBag.Title = "Reportes";
}

<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="color: var(--blue);background: #1d2554;">
            <div class="container-fluid d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <hr>
                        <a class="nav-link active" href="@Url.Action("Index", "Maintenance")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-file-earmark-bar-graph" style="font-size: 20.6px;">
                                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"></path>
                                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3zm-5 11a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1z"></path>
                            </svg><span style="font-size: 19.6px;"> Estado del sistema</span>
                        </a>
                        <hr>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <div class="sidebar-heading"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html" style="font-size: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-bookshelf" style="font-size: 20px;">
                                <path fill-rule="evenodd" d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"></path>
                            </svg><span> &nbsp;Reporte de Inventario</span>
                        </a>
                        <a class="nav-link" href="charts.html" style="font-size: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-arrow-left-right" style="font-size: 20px;">
                                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path>
                            </svg><span>&nbsp; Reporte de Movimientos</span>
                        </a><a class="nav-link" href="charts.html" style="font-size: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-cart-check" style="font-size: 20px;">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                                    <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                </svg><span>&nbsp; Reporte de Ventas</span>
                        </a><a class="nav-link" href="charts.html" style="font-size: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-people-fill" style="font-size: 20px;">
                                    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path>
                                </svg><span>&nbsp; Reporte de Usuarios</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Estado Actual</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos Registrados<br></h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Total en tienda</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo" style="font-size: 14px;">
                            <h4 class="card-title">Productos Ingresados&nbsp; &nbsp;</h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Abastecimiento</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos&nbsp; Descontados</h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Descontados</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos por reponer</h4>
                            <p class="card-text" style="font-size: 77px;">0</p>
                            <h6 class="text-muted card-subtitle mb-2">Para Reposicion</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>