
@{
    ViewBag.Title = "UnAuthorized";
}
<center>
    <div class="card-body text-center shadow">
        <img class="rounded-circle mb-3 mt-4" src="~/Resources/UnAuthorized.png" width="160" height="160" />
        <h2>NO autorizado !</h2>
        <input type="button" value="Regresar" class="btn btn-warning" onclick="goBack()" />
    </div>
</center>

@section Scripts {
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
}