
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div style="text-align:center !important;">
    <h2>¡Oops!</h2>
    <h3>¡NParece que su cuenta no está autorizada para acceder esta página!</h3>
    <h5>Pero no se preocupe, aún le queremos. ♥ ♥ ♥ </h5>
</div>

<hr />

<input type="button" value="Regresar" class="btn btn-warning" onclick="goBack()"/>

<script>
    function goBack() {
        window.history.back();
    }
</script>