
@{
    ViewBag.Title = "UnAuthorized";
}
<center>
    <div class="card-body text-center shadow">
        <img class="rounded-circle mb-3 mt-4" src="~/Resources/UnAuthorized.png" width="160" height="160" />
        <h2>NO autorizado !</h2>
        @Html.ActionLink("Regresar", "Index","Home", null, new { @class = "btn  boton-estilo" })
    </div>
</center> 