USE [master]
GO
/****** Object:  Database [AuronMk]    Script Date: 1/7/2021 20:24:20 ******/
CREATE DATABASE [AuronMk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuronMk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\AuronMk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuronMk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\AuronMk_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuronMk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuronMk]
GO
/****** Object:  Table [dbo].[CalificacionUsuario]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalificacionUsuario](
	[IdCalificacion] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[Calificacion] [int] NULL,
	[Comentario] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[IdCategoriaProducto] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[IdEstadoSistema] [int] NULL,
 CONSTRAINT [PK__Color__E83D55CB982217D3] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorProducto]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorProducto](
	[IdProducto] [int] NOT NULL,
	[IdColor] [int] NOT NULL,
 CONSTRAINT [PK_ColorProducto] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactoProveedor]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactoProveedor](
	[IdContactoProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [int] NULL,
	[Nombre] [varchar](max) NULL,
	[Telefono] [int] NULL,
	[Correo] [varchar](max) NULL,
	[IdEstadoSistema] [int] NULL,
	[IdProveedor] [int] NULL,
 CONSTRAINT [PK_ContactoProveedor_1] PRIMARY KEY CLUSTERED 
(
	[IdContactoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostoEnvio]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostoEnvio](
	[IdCostoEnvio] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Monto] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCostoEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoSistema]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoSistema](
	[IdEstadoSistema] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NOT NULL,
 CONSTRAINT [PK_Inventario_1] PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventarioProducto]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarioProducto](
	[IdInventario] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Stock] [int] NULL,
	[StockMinimo] [int] NULL,
	[Estante] [varchar](max) NULL,
 CONSTRAINT [PK_InventarioProducto] PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotivoMovimiento]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivoMovimiento](
	[IdMotivoMovimiento] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMotivoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[Impuesto] [float] NULL,
	[Descuento] [float] NULL,
	[SubTotal] [float] NULL,
	[Total] [float] NULL,
	[IdCostoEnvio] [int] NULL,
	[IdUsuario] [int] NULL,
	[FechaHora] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoProducto]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoProducto](
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NULL,
 CONSTRAINT [PK_PedidoProducto] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Imagen] [varbinary](max) NULL,
	[CostoU] [float] NULL,
	[IdEstadoSistema] [int] NULL,
	[IdCategoriaProducto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoProveedor]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoProveedor](
	[IdProducto] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
 CONSTRAINT [PK_ProductoProveedor] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Telefono] [int] NULL,
	[Direccion] [varchar](max) NULL,
	[Pais] [varchar](max) NULL,
	[IdEstadoSistema] [int] NULL,
 CONSTRAINT [PK__Proveedo__E8B631AF370602AC] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroMovimiento]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroMovimiento](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[FechaHora] [varchar](max) NULL,
	[Comentario] [varchar](max) NULL,
	[IdTipoMovimiento] [int] NULL,
	[IdMotivoMovimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroProducto]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroProducto](
	[IdProducto] [int] NOT NULL,
	[IdMovimiento] [int] NOT NULL,
	[Cantidad] [int] NULL,
 CONSTRAINT [PK_RegistroProducto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Telefono] [int] NULL,
	[Direccion] [varchar](max) NULL,
	[IdEstadoSistema] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[IdTipoMovimiento] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[IdTipoUsuario] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/7/2021 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Correo] [varchar](max) NULL,
	[Contra] [varchar](max) NULL,
	[Telefono] [int] NULL,
	[Direccion] [varchar](max) NULL,
	[IdEstadoSistema] [int] NULL,
	[IdTipoUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CategoriaProducto] ([IdCategoriaProducto], [Descripcion]) VALUES (1, N'S')
INSERT [dbo].[CategoriaProducto] ([IdCategoriaProducto], [Descripcion]) VALUES (2, N'M')
INSERT [dbo].[CategoriaProducto] ([IdCategoriaProducto], [Descripcion]) VALUES (3, N'L')
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([IdColor], [Descripcion], [IdEstadoSistema]) VALUES (0, N'Rojo', 1)
INSERT [dbo].[Color] ([IdColor], [Descripcion], [IdEstadoSistema]) VALUES (1, N'Anaranjado', 1)
INSERT [dbo].[Color] ([IdColor], [Descripcion], [IdEstadoSistema]) VALUES (2, N'Amarillo', 1)
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
INSERT [dbo].[ColorProducto] ([IdProducto], [IdColor]) VALUES (2, 0)
INSERT [dbo].[ColorProducto] ([IdProducto], [IdColor]) VALUES (5, 0)
INSERT [dbo].[ColorProducto] ([IdProducto], [IdColor]) VALUES (30, 0)
GO
SET IDENTITY_INSERT [dbo].[ContactoProveedor] ON 

INSERT [dbo].[ContactoProveedor] ([IdContactoProveedor], [Cedula], [Nombre], [Telefono], [Correo], [IdEstadoSistema], [IdProveedor]) VALUES (10, 207770999, N'Marco Salazar S.', 78525654, N'marco@hotmail.com', 1, 14)
SET IDENTITY_INSERT [dbo].[ContactoProveedor] OFF
GO
INSERT [dbo].[CostoEnvio] ([IdCostoEnvio], [Descripcion], [Monto]) VALUES (0, N'Entrega en San Jose', 0)
INSERT [dbo].[CostoEnvio] ([IdCostoEnvio], [Descripcion], [Monto]) VALUES (1, N'Correos de Costa Rica dentro de la GAM', 2500)
INSERT [dbo].[CostoEnvio] ([IdCostoEnvio], [Descripcion], [Monto]) VALUES (2, N'Correos de Costa Rica fuera de la GAM', 3500)
GO
INSERT [dbo].[EstadoSistema] ([IdEstadoSistema], [Descripcion]) VALUES (0, N'Inactivo')
INSERT [dbo].[EstadoSistema] ([IdEstadoSistema], [Descripcion]) VALUES (1, N'Activo')
GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([IdInventario], [IdSucursal]) VALUES (1, 1)
INSERT [dbo].[Inventario] ([IdInventario], [IdSucursal]) VALUES (2, 2)
INSERT [dbo].[Inventario] ([IdInventario], [IdSucursal]) VALUES (5, 3)
SET IDENTITY_INSERT [dbo].[Inventario] OFF
GO
INSERT [dbo].[InventarioProducto] ([IdInventario], [IdProducto], [Stock], [StockMinimo], [Estante]) VALUES (1, 1, 40, 30, N'Estante B2')
INSERT [dbo].[InventarioProducto] ([IdInventario], [IdProducto], [Stock], [StockMinimo], [Estante]) VALUES (1, 2, 5, 1, NULL)
INSERT [dbo].[InventarioProducto] ([IdInventario], [IdProducto], [Stock], [StockMinimo], [Estante]) VALUES (1, 3, 80, 40, N'Estante A1')
GO
INSERT [dbo].[MotivoMovimiento] ([IdMotivoMovimiento], [Descripcion]) VALUES (1, N'Venta')
INSERT [dbo].[MotivoMovimiento] ([IdMotivoMovimiento], [Descripcion]) VALUES (2, N'Compra de Producto')
INSERT [dbo].[MotivoMovimiento] ([IdMotivoMovimiento], [Descripcion]) VALUES (3, N'Movimiento entre sucursales')
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
INSERT [dbo].[ProductoProveedor] ([IdProducto], [IdProveedor]) VALUES (1, 1)
INSERT [dbo].[ProductoProveedor] ([IdProducto], [IdProveedor]) VALUES (1, 2)
INSERT [dbo].[ProductoProveedor] ([IdProducto], [IdProveedor]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [Telefono], [Direccion], [Pais], [IdEstadoSistema]) VALUES (1, N'Dijexox', 24339989, N'Barrio Escalante, San Jose', N'Costa Rica', 1)
INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [Telefono], [Direccion], [Pais], [IdEstadoSistema]) VALUES (2, N'HilosLi', 24345567, N'Coyol, Alajuela', N'Costa Rica', 1)
INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [Telefono], [Direccion], [Pais], [IdEstadoSistema]) VALUES (3, N'AliDij', 29876782, N'Heredia, Paseo de las flores', N'Costa Rica', 1)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistroMovimiento] ON 

INSERT [dbo].[RegistroMovimiento] ([IdMovimiento], [IdUsuario], [FechaHora], [Comentario], [IdTipoMovimiento], [IdMotivoMovimiento]) VALUES (1, 116940672, N'2/4/2021 12:21 pm', N'Reposicion de inventario', 1, 2)
INSERT [dbo].[RegistroMovimiento] ([IdMovimiento], [IdUsuario], [FechaHora], [Comentario], [IdTipoMovimiento], [IdMotivoMovimiento]) VALUES (2, 116940672, N'2/4/2021 12:21 pm', N'Venta de pulseras', 2, 1)
INSERT [dbo].[RegistroMovimiento] ([IdMovimiento], [IdUsuario], [FechaHora], [Comentario], [IdTipoMovimiento], [IdMotivoMovimiento]) VALUES (3, 116940672, N'2/4/2021 12:21 pm', N'Se envio inventario a sucursal Alajuela', 2, 3)
SET IDENTITY_INSERT [dbo].[RegistroMovimiento] OFF
GO
INSERT [dbo].[RegistroProducto] ([IdProducto], [IdMovimiento], [Cantidad]) VALUES (1, 1, 10)
INSERT [dbo].[RegistroProducto] ([IdProducto], [IdMovimiento], [Cantidad]) VALUES (2, 1, 15)
INSERT [dbo].[RegistroProducto] ([IdProducto], [IdMovimiento], [Cantidad]) VALUES (3, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Telefono], [Direccion], [IdEstadoSistema]) VALUES (1, N'Central', 24556789, N'Avenida Central, San Jose', 1)
INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Telefono], [Direccion], [IdEstadoSistema]) VALUES (2, N'Alajuela', 24332270, N'Alajuela, Alajuela Centro', 1)
INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Telefono], [Direccion], [IdEstadoSistema]) VALUES (3, N'Central', 24556789, N'Avenida Central, San Jose', 1)
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
GO
INSERT [dbo].[TipoMovimiento] ([IdTipoMovimiento], [Descripcion]) VALUES (1, N'Entrada')
INSERT [dbo].[TipoMovimiento] ([IdTipoMovimiento], [Descripcion]) VALUES (2, N'Salida')
GO
INSERT [dbo].[TipoUsuario] ([IdTipoUsuario], [Descripcion]) VALUES (0, N'Admin')
INSERT [dbo].[TipoUsuario] ([IdTipoUsuario], [Descripcion]) VALUES (1, N'Cliente')
GO
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Correo], [Contra], [Telefono], [Direccion], [IdEstadoSistema], [IdTipoUsuario]) VALUES (116940672, N'Admin', N'admin@hotmail.com', N'admin', 87654657, N'Alajuela Centro', 1, 0)
GO
ALTER TABLE [dbo].[CalificacionUsuario]  WITH CHECK ADD  CONSTRAINT [FK_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[CalificacionUsuario] CHECK CONSTRAINT [FK_IdUsuario]
GO
ALTER TABLE [dbo].[Color]  WITH CHECK ADD  CONSTRAINT [FK_IdEstadoSistema2] FOREIGN KEY([IdEstadoSistema])
REFERENCES [dbo].[EstadoSistema] ([IdEstadoSistema])
GO
ALTER TABLE [dbo].[Color] CHECK CONSTRAINT [FK_IdEstadoSistema2]
GO
ALTER TABLE [dbo].[ColorProducto]  WITH CHECK ADD  CONSTRAINT [FK_IdColor] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
GO
ALTER TABLE [dbo].[ColorProducto] CHECK CONSTRAINT [FK_IdColor]
GO
ALTER TABLE [dbo].[ColorProducto]  WITH CHECK ADD  CONSTRAINT [FK_IdProducto2] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ColorProducto] CHECK CONSTRAINT [FK_IdProducto2]
GO
ALTER TABLE [dbo].[ContactoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_IdEstadoSistema4] FOREIGN KEY([IdEstadoSistema])
REFERENCES [dbo].[EstadoSistema] ([IdEstadoSistema])
GO
ALTER TABLE [dbo].[ContactoProveedor] CHECK CONSTRAINT [FK_IdEstadoSistema4]
GO
ALTER TABLE [dbo].[ContactoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_IdProveedor1] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[ContactoProveedor] CHECK CONSTRAINT [FK_IdProveedor1]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_IdSucursal] FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_IdSucursal]
GO
ALTER TABLE [dbo].[InventarioProducto]  WITH NOCHECK ADD  CONSTRAINT [FK_IdInventario] FOREIGN KEY([IdInventario])
REFERENCES [dbo].[Inventario] ([IdInventario])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[InventarioProducto] NOCHECK CONSTRAINT [FK_IdInventario]
GO
ALTER TABLE [dbo].[InventarioProducto]  WITH NOCHECK ADD  CONSTRAINT [FK_IdProducto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[InventarioProducto] NOCHECK CONSTRAINT [FK_IdProducto]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_IdCostoEnvio] FOREIGN KEY([IdCostoEnvio])
REFERENCES [dbo].[CostoEnvio] ([IdCostoEnvio])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_IdCostoEnvio]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_IdUsuario1] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_IdUsuario1]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD  CONSTRAINT [FK_IdPedido] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[PedidoProducto] CHECK CONSTRAINT [FK_IdPedido]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD  CONSTRAINT [FK_IdProductos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[PedidoProducto] CHECK CONSTRAINT [FK_IdProductos]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_IdCategoriaProducto] FOREIGN KEY([IdCategoriaProducto])
REFERENCES [dbo].[CategoriaProducto] ([IdCategoriaProducto])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_IdCategoriaProducto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_IdEstadoSistema1] FOREIGN KEY([IdEstadoSistema])
REFERENCES [dbo].[EstadoSistema] ([IdEstadoSistema])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_IdEstadoSistema1]
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_IdProducto3] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ProductoProveedor] CHECK CONSTRAINT [FK_IdProducto3]
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_IdProveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[ProductoProveedor] CHECK CONSTRAINT [FK_IdProveedor]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_IdEstadoSistema3] FOREIGN KEY([IdEstadoSistema])
REFERENCES [dbo].[EstadoSistema] ([IdEstadoSistema])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_IdEstadoSistema3]
GO
ALTER TABLE [dbo].[RegistroMovimiento]  WITH CHECK ADD  CONSTRAINT [FK_IdMotivoMovimiento] FOREIGN KEY([IdMovimiento])
REFERENCES [dbo].[MotivoMovimiento] ([IdMotivoMovimiento])
GO
ALTER TABLE [dbo].[RegistroMovimiento] CHECK CONSTRAINT [FK_IdMotivoMovimiento]
GO
ALTER TABLE [dbo].[RegistroMovimiento]  WITH CHECK ADD  CONSTRAINT [FK_IdTipoMovimiento] FOREIGN KEY([IdTipoMovimiento])
REFERENCES [dbo].[TipoMovimiento] ([IdTipoMovimiento])
GO
ALTER TABLE [dbo].[RegistroMovimiento] CHECK CONSTRAINT [FK_IdTipoMovimiento]
GO
ALTER TABLE [dbo].[RegistroMovimiento]  WITH CHECK ADD  CONSTRAINT [FK_IdUsuario5] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[RegistroMovimiento] CHECK CONSTRAINT [FK_IdUsuario5]
GO
ALTER TABLE [dbo].[RegistroProducto]  WITH CHECK ADD  CONSTRAINT [FK_IdMovimiento] FOREIGN KEY([IdMovimiento])
REFERENCES [dbo].[RegistroMovimiento] ([IdMovimiento])
GO
ALTER TABLE [dbo].[RegistroProducto] CHECK CONSTRAINT [FK_IdMovimiento]
GO
ALTER TABLE [dbo].[RegistroProducto]  WITH CHECK ADD  CONSTRAINT [FK_IdProducto5] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[RegistroProducto] CHECK CONSTRAINT [FK_IdProducto5]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_IdEstadoSistema5] FOREIGN KEY([IdEstadoSistema])
REFERENCES [dbo].[EstadoSistema] ([IdEstadoSistema])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [FK_IdEstadoSistema5]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_EstadoSistema] FOREIGN KEY([IdEstadoSistema])
REFERENCES [dbo].[EstadoSistema] ([IdEstadoSistema])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_EstadoSistema]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_IdTipoUsuario] FOREIGN KEY([IdTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([IdTipoUsuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_IdTipoUsuario]
GO
USE [master]
GO
