@model IEnumerable<Infraestructure.Models.Producto>
@{
    ViewBag.Title = "Mantenimientos";
}
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuMantenimiento")
    </div>
    <div class="col-xl-9">

        <div class="row" style="margin: 10px -12px 0px -12px;">
            <div class="col-lg-12">
                <div class="shadow card">
                    <a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Mantenimientos</a>
                    <div class="collapse show" id="collapse-4">
                        <div class="card-body">
                            <p class="m-0">!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>