@model IEnumerable<Infraestructure.Models.Producto>
@{ ViewBag.Title = "Mantenimientos"; }
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuMantenimiento")
    </div>
    <div class="col-xl-9">

        <div class="row" style="margin: 10px -12px 0px -12px;">
            <div class="col-lg-12">
                <div class="shadow card">
                    <a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Mantenimientos</a>
                    <div class="collapse show" id="collapse-4">
                        <div class="card-body">
                            <h2 class="text-info">Funciones</h2>
                            <p>En esta sección encontrara las opciones necesarias para gestioanr los elementos de la pagina.</p>
                            <hr />
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="text-warning">Revision</h4>
                                        <p>Revision detallada de cada elemento de la pagina. Total transparencia en el proceso para su total confianza.</p>
                                    </div>
                                    <div class="col">
                                        <h4 class="text-warning">Personalizable</h4>
                                        <p>Podra cambiar o editar la totalidad de valores de cada elemento y ademas ingresar nuevos elementos.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="text-warning">Facilidad de uso</h4>
                                        <p>Interfaz facil de entender y manejar. Apropiado para una gestion productiva e intuitiva.</p>
                                    </div>
                                    <div class="col">
                                        <h4 class="text-warning">Acceso remoto</h4>
                                        <p>Podra hacer uso de las distitnas funciones de la gestion de manera remoto gracias al uso de una pagina web accesible y versatil.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>