<footer class="footer mt-auto py-3 footer-estilo">
    <center>
        <div class="container">
            <p class="p-footer">@DateTime.Now.Year - Aurum MK &reg;</p>
        </div>
    </center>
</footer>
