<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	
<!--ACTUAL CADENA DE CONEXION-->

	<connectionStrings>
		<add name="AuronMkEntities" connectionString="metadata=res://*/Models.MyModel_AurumMK.csdl|res://*/Models.MyModel_AurumMK.ssdl|res://*/Models.MyModel_AurumMK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AuronMk;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>



<!--

DESCRIPCION: En caso de experimentar problemas de conexion con SQL intente reemplazando la actual cadena de conexion por alguna de estas.
___________________________________________________________________________________________________________________________________________________
CADENA DE CONEXION GENERAL PARA: Melanie, Juanjo, Profesora,....
!IMPORTANTE¡ Solo copie esta cadena de conexion  y reemplace la actual cadena de conexion 


<connectionStrings>
	<add name="AuronMkEntities" connectionString="metadata=res://*/Models.MyModel_AurumMK.csdl|res://*/Models.MyModel_AurumMK.ssdl|res://*/Models.MyModel_AurumMK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AuronMk;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>


________________________________________________________________________ ___________________________________________________________________________
CADENA DE CONEXION ESPECIFICA PARA ALFREDO
!IMPORTANTE¡ Solo copie esta cadena de conexion  y reemplace la actual cadena de conexion 


<connectionStrings>
    <add name="AuronMkEntities" connectionString="metadata=res://*/Models.MyModel_AurumMK.csdl|res://*/Models.MyModel_AurumMK.ssdl|res://*/Models.MyModel_AurumMK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VO65JJE\ALFREDOSQL;initial catalog=AuronMk;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

___________________________________________________________________________________________________________________________________________________
!IMPORTANTE¡__ RECUERDE REALIZAR ESTE CAMBIO TAMBIEN EN Web.config	DEL PROYECTO WEB__!IMPORTANTE¡
-->

</configuration>